
/* Variable color */
:root{
    --color-light-grey:#fefefe ;
    --color-lighter-pink:#f7f3f7;
    --color-light-pink:#aaa0ac;
    --color-medium-pink:#8d808f;
    --color-dark-pink:#79677c;
    --color-dark-grey:#333333;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    background-color: var(--color-light-grey);
    padding: 3rem;
}

header {
    border: 2px solid var(--color-dark-pink);
    border-radius: 5% 95% 5% 95% / 95% 5% 95% 5% ;
    margin-bottom: 2rem;
    padding: 1rem;
    display: flex;
    font-size: 1rem;
}

.light-link a {
    text-decoration: none;
    color: var(--color-dark-pink);
}

.light-link a:hover {
    text-decoration: underline;
    color:black;
    text-decoration-color:var(--color-dark-pink);
    text-underline-offset: 0.3em;
    text-decoration-thickness: 0.1em;
}

.btn-outline-secondary, .btn-primary:hover {
    color: var(--color-dark-grey);
    background-color: var(--color-light-grey);
    border-color: var(--color-dark-pink);

}

.btn-outline-secondary:hover, .btn-primary, .btn-outline-info:hover {
    color: var(--color-light-grey);
    background-color: var(--color-dark-pink);
    border-color: var(--color-dark-pink);
}

.btn-outline-info {
    color: var(--color-dark-pink);
    border-color: var(--color-dark-pink);
    background-color: var(--color-lighter-pink);
}   

header h1 a {
    margin: 1rem;
}
    
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.description_underline {
    text-decoration: underline;
    text-decoration-color:var(--color-dark-pink);
    text-underline-offset: 0.2em;
    color: var(--color-dark-pink);
}

.rounded_background {
    border: var(--color-dark-pink) 1px solid;
    border-radius: 2rem;
}

.radio-inline {
    display: inline-block;
    margin-right: 10px;
}