{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="d-flex justify-content-center">
    <div class="col-sm-7 px-5 text-center p-4">
        <h2 class="pb-4">Modifier le ticket</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-end">
                <button type="submit" class="btn btn-primary my-4">Modifier le ticket</button>
            </div>
        </form>
    </div>
</div>

{% endblock content %}