<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
{% load my_filters %}

<div class="d-flex justify-content-center">
    <div class="col-sm-7">
        {% if request.resolver_match.url_name != 'flux' %}
            <h1 class="mb-5 text-center">Vos Posts</h1>
        {% else %}
            <div class="d-flex justify-content-center">
                <div class="text-center w-75 my-4">
                    <a class="mx-4 px-3 btn btn-outline-info" href="{% url 'create_ticket' %}">Créer un ticket</a>
                    <a class="mx-4 px-3 btn btn-outline-info" href="{% url 'create_ticket_and_review' %}">Créer une critique</a>
                </div>
            </div>
        {% endif %}
        <div class="container ">
                {% for item in items %}
                    {% if item|classname == "Ticket" %}
                        <article class="border border-dark rounded my-3 p-3">
                            <div class="row">
                                {% if item.user == request.user %}
                                    <p class="col-6">Vous avez rédigé un <a class="description_underline" href="{% url 'ticket_detail' item.id %}">ticket</a>.</p>
                                {% else %}
                                    <p class="col-6 p-2 rounded_background">{{ item.user.username }} a demandé une <a class="description_underline" href="{% url 'ticket_detail' item.id %}">critique</a>.</p>
                                {% endif %}    
                                    <p class="col-2"></p>
                                <p class="col-4">{{ item.created_on }}</p>
                            </div>
                            <div class="row">
                                <p class="col-5">{{ item.title }}</p>
                            </div>
                            <div class="row">
                                {% if item.image %}
                                    <img class="col-5" src="{{ item.image.url }}" alt="{{ item.title }}">
                                {% endif %}
                            </div>
                            <div class="row">
                                <p class="col-7"></p>
                                {% if item.user == request.user %}
                                    <p class="col-2"><a class="btn btn-outline-secondary" href="{% url 'edit_ticket' item.id %}">Modifier</a></p>
                                    <p class="col-3"><a class="btn btn-outline-secondary" href="{% url 'delete_ticket' item.id %}">Supprimer</a></p>
                                {% else %}
                                    <p class="col-2"></p>
                                    <p class="col-3"><a class="btn btn-primary" href="{% url 'create_review' item.id %}">Répondre</a></p>
                                {% endif %}
                                </div>
                        </article>
                    
                    {% elif item|classname == "Review" %}
                        <article class="border border-dark rounded my-3 p-3">
                            <div class="row">
                                {% if item.user == request.user %}
                                    <p class="col-6">Vous avez rédigé une <a class="description_underline" href="{% url 'review_detail' item.id %}">critique</a>.</p>
                                {% else %}
                                    <p class="col-6 p-2 rounded_background">{{ item.user.username }} a répondu à votre <a class="description_underline" href="{% url 'ticket_detail' item.ticket.id %}">ticket</a>.</p>
                                {% endif %}    
                                    <p class="col-2"></p>
                                <p class="col-4">{{ item.created_on }}</p>
                            </div>
                            <div class="row">
                                <p class="col-8">{{ item.title }} - 
                                    {% for i in item.rating|my_range %}
                                        <img src="/images/images/star-fill.svg" alt="Filled Star">
                                    {% endfor %} 
                                    {% for i in 5|substraction:item.rating|my_range %}
                                        <img src="/images/images/empty-star.svg" alt="Empty Star">
                                    {% endfor %}
                                </p>
                            </div>
                            <div class="row">
                                <p>{{ item.content }}</p>
                            </div>

                            <div class="container border border-dark rounded my-3 p-3">
                                <div class="row">    
                                    {% if item.user == item.ticket.user %}
                                        <p class="col-4"> Ticket - Vous</p>
                                    {% else %}
                                        <p class="col-4">Ticket - {{item.ticket.user}}</p>
                                    {% endif %}
                                    <p class="col-4"></p>
                                    <p class="col-4">{{ item.ticket.created_on }}</p>
                                </div>
                                <div class="row">
                                    <p>{{ item.ticket.title }}</p>
                                </div>
                                <div class="row">
                                    {% if item.ticket.image %}
                                        <img class="col-5" src="{{ item.ticket.image.url }}" alt="{{ item.ticket.title }}">
                                    {% endif %}
                                </div>
                            </div>
                            
                            <div class="row">
                                <p class="col-7"></p>
                                {% if item.user == request.user %}
                                    <p class="col-2"><a class="btn btn-outline-secondary" href="{% url 'edit_review' item.id %}">Modifier</a></p>
                                    <p class="col-3"><a class="btn btn-outline-secondary" href="{% url 'delete_review' item.id %}">Supprimer</a></p>
                                {% else %}
                                    <p class="col-2"></p>
                                    <p class="col-3"><a class="btn btn-primary" href="{% url 'create_review' item.id %}">Répondre</a></p>
                                {% endif %}
                            </div>

                        </article>
                    {% endif %}

                        {% empty %}
                            <p>Vous n'avez rédigé aucun ticket ou critique.</p>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

{% endblock content %}