{% load static %} 
<html>
	<head>
        <title>LITReview</title>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
	<body>
		<div>
			<header>
				<h1><a href="{% url 'home' %}">Flux des reviews</a></h1>
			</header>
			{% if user.is_authenticated %}
				<p>Bonjour {{ user.username }} !</p>
				<p><a href="{% url 'logout' %}">Se déconnecter</a></p>
			{% else %}
				<p>Vous n'êtes pas connectés.</p>
				<a href="{% url 'login' %}">Se connecter</a>
				<a href="{% url 'signup' %}">Créer un compte</a>
			{% endif %}
			{% block content %}
			{% endblock content %}
		</div>
	</body>
</html>